<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-link active" routerLink="customers" href="#">Customer List <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="customers/addnewcustomer" href="#">Add Customer</a>
      <a class="nav-link active" routerLink="restaurants" href="#">Restaurant List <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="restaurants/addnewrestaurant" href="#">Add Restaurant</a>
      <a class="nav-link active" routerLink="orders" href="#">Order List <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="orders/addneworder" href="#">Add Order</a>
      <a class="nav-link active" routerLink="bills" href="#">Bill List <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="bills/addnewbill" href="#">Add Bill</a>
      <a class="nav-link active" routerLink="items" href="#">Item List <span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="items/addnewitem" href="#">Add Item</a>

      
    </div>
  </div>


</nav>-->
