<div class="background-container">
    <br>
    <h1 class="text">Online Food Delivery System</h1>
    <p class="p">Implement features like real-time updates, order tracking, and secure payment options to enhance the overall user experience. <br>
        Integration with a kitchen management system can help streamline food preparation and ensure timely deliveries.</p>
    <img src=
    "https://img.freepik.com/free-vector/food-delivery-logo-with-courier-riding-scooter-city_1308-47752.jpg?w=740&t=st=1703787829~exp=1703788429~hmac=7976552898bcc82409d5f8aa5deb00d48a1c70c2ccc909f81786691b65f71af8">
</div>

         
      
      

    
    